*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: lightgray;
}

.input{
  display: none;  
}

.galeria{
  width: 100%;
  text-align: center;
}

h1{
  color: white;
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}

h1::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #91D8F7;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  0%{
    width: 100px;
  }
  50%{
    width: 200px;
  }
  100%{
    width: 100px;
  }
}

.top-content{
  background-color: #4B4B4D;
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgray;
}

h3{
  height: 100%;
  background-color: gray;
  line-height: 60px;
  padding: 0 50px;
  color: white;
}

label{
  display: inline-block;
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: color .5s;
}

label:hover{
  color: black;
}

.photo-gallery{
  width: 90%;
  margin: auto; 
}

 .pic {
  text-align: justify;
}
/*
.pic.project1, .pic.project2, .pic.project3, .pic.project4 {
  display: flex;
}

.pic.project1, .pic.project2, .pic.project3, .pic.project4 a {
  flex: 1;
}
*/
.pic img {
  
  width: 24.8%;
  margin: 0;
  padding: 1px;
  display: inline-block;
}

.pic a{
  text-decoration: none;
}